[connection]
id=gords
uuid={{uuid}}
type=wifi
autoconnect=true
permissions=

[wifi]
mode=infrastructure
ssid={{wifi_ssid}}

[wifi-security]
auth-alg=open
key-mgmt=wpa-psk
psk={{wifi_password}}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto
