[connection]
id=gords
uuid={{uuid}}
type=wifi
autoconnect=true
permissions=

[wifi]
mode=infrastructure
ssid={{wifi_ssid}}

[802-11-wireless]
band=bg
powersave=0

[802-11-wireless-security]
auth-alg=open
key-mgmt=wpa-psk
psk={{wifi_password}}

[regulatory]
country=US

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto
