---
- name: apt-get install python3
  apt:
    name: python3
    state: latest
  become: True

- name: Update python
  alternatives:
    name: python
    link: /usr/bin/python
    path: /usr/bin/python3
    priority: 2
  become: True
