<!doctype html>
<title>{{ hostname }} - PiSensor</title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>{{ hostname }}</h1>
  <ul>
    <li><a href="{{ url_for('healthcheck') }}">Healthcheck</a>
    <li><a href="{{ url_for('environment') }}">Environment</a>
  </ul>
</nav>
<section class="content">
  <header>
    <h1>Sensors</h1>
  </header>
  <ul>
    {% for sensor in sensors: %}
      <ul><a href="{{ url_for(sensor.url) }}">{{sensor.name}}</a></ul>
    {% endfor %}
  </ul>
</section>
