  - job_name:       'sensors'
    scrape_interval: 60s
    static_configs:
      - targets:
{% for host in groups['thermometers'] %}
        - "{{host}}:5000"
{% endfor %}
{% for host in groups['food'] %}
        - "{{host}}:5000"
{% endfor %}
