  - job_name:       'sensors'
    scrape_interval: 30s
    static_configs:
      - targets:
          {% for host in groups['thermometers'] %}
          - '{{host}}:5000'
          {% endfor %}
        labels:
          group: 'dht22'
