---
- name: Set boot path
  set_fact:
    boot_path: '{{mount_point}}/boot'

- name: Enable SSH (creates empty ssh file in boot partition)
  file:
    path: '{{ boot_path }}/ssh'
    state: touch
    mode: '0644'
  become: yes

- name: Create empty meta-data file
  ansible.builtin.file:
    path: '{{ boot_path }}/meta-data'
    state: touch
    mode: '0644'
  become: yes

- name: Check if pi user home directory exists (for older OS images)
  stat:
    path: '{{mount_point}}/rootfs/home/billy'
  register: pi_user_home

- name: Create userconf.txt for automatic user creation (Bookworm+ only)
  copy:
    content: 'pi:{{ pi_user_password_hash }}'
    dest: '{{ boot_path }}/userconf.txt'
    mode: '0600'
  become: yes
  when: not pi_user_home.stat.exists

- name: Create pi home directory
  file:
    path: '{{mount_point}}/rootfs/home/pi'
    state: directory
    owner: pi
    group: pi
    mode: '0700'
  become: yes

- name: Create ssh directory for older OS (if pi user already exists)
  file:
    path: '{{mount_point}}/rootfs/home/pi/.ssh'
    state: directory
    owner: pi
    group: pi
    mode: '0700'
  become: yes
  when: pi_user_home.stat.exists

- name: Copy SSH public keys for older OS (if pi user already exists)
  authorized_key:
    key: '{{item}}'
    path: '{{mount_point}}/rootfs/home/pi/.ssh/authorized_keys'
    user: pi
  become: yes
  loop: '{{ssh_public_keys}}'
  when: pi_user_home.stat.exists

- name: Create firstrun.sh script for SSH keys on newer OS (Bookworm+)
  template:
    src: firstrun.sh.j2
    dest: '{{ boot_path }}/firstrun.sh'
    mode: '0755'
  become: yes
  when: not pi_user_home.stat.exists
  register: firstrun_created

- name: Create firstrun.sh copy
  template:
    src: firstrun.sh.j2
    dest: '{{ mount_point }}/rootfs/home/pi/firstrun.sh'
    mode: '0755'
  become: yes

- name: Add firstrun.sh to cmdline.txt for newer OS
  lineinfile:
    path: '{{ boot_path }}/cmdline.txt'
    backrefs: yes
    regexp: '^(.*rootwait.*)$'
    line: '\1 cfg80211.ieee80211_regdom=US systemd.restore_state=0 rfkill.default_state=0 systemd.run=/boot/firstrun.sh systemd.run_success_action=reboot systemd.unit=kernel-command-line.target'
  become: yes
  when: not pi_user_home.stat.exists and firstrun_created is changed

- name: Disable setup wizard for desktop version
  file:
    path: '{{mount_point}}/rootfs/etc/xdg/autostart/piwiz.desktop'
    state: absent
  become: yes
  failed_when: false

- name: Disable user setup
  file:
    path: '{{mount_point}}/rootfs/etc/xdg/autostart/xdg-user-dirs.desktop'
    state: absent
  become: yes
  failed_when: false

- name: Set locale to en_US.UTF-8 to skip locale wizard
  copy:
    content: |
      LANG=en_US.UTF-8
      LC_ALL=en_US.UTF-8
    dest: '{{mount_point}}/rootfs/etc/default/locale'
  become: yes
  failed_when: false

- name: Set keyboard layout to US to skip keyboard wizard
  copy:
    content: |
      XKBMODEL="pc105"
      XKBLAYOUT="us"
      XKBVARIANT=""
      XKBOPTIONS=""
    dest: '{{mount_point}}/rootfs/etc/default/keyboard'
  become: yes
  failed_when: false

- name: Create rfkill-unblock systemd service
  template:
    src: rfkill-unblock.service.j2
    dest: '{{mount_point}}/rootfs/etc/systemd/system/rfkill-unblock.service'
    mode: '0644'
  become: yes

- name: Enable rfkill-unblock service
  file:
    src: '{{mount_point}}/rootfs/etc/systemd/system/rfkill-unblock.service'
    dest: '{{mount_point}}/rootfs/etc/systemd/system/multi-user.target.wants/rfkill-unblock.service'
    state: link
  become: yes

- name: Unmount boot
  ansible.posix.mount:
    path: /media/pi/boot
    state: unmounted
  become: yes

- name: Unmount root
  ansible.posix.mount:
    path: /media/pi/rootfs
    state: unmounted
  become: yes
